In [22]:
import pandas as pd
from numpy import sqrt,mean,log,diff

# the data is here 
# https://docs.google.com/spreadsheets/d/1vN9MPBOyoh1Kf4OC0GlCF4kKdgmXholU8YUyRQjPBaE/edit?usp=sharing
# https://www.taifex.com.tw/cht/3/optDailyMarketView

df = pd.read_csv("txo 2021.05.01_2021.05.31.csv",  engine='python')
df.columns = ['symbol', 'exp', 'strik', 'put_call', 'o', 'h', 'l', 'c', 'v', 'settlement', '_','_','_','_','_','_', 'day_night','_']
df

,symbol,exp,strik,put_call,o,h,l,c,v,settlement,_,_,_,_,_,_,day_night,_
2021/05/03,TXO,202105W1,15800.0,�R�v,-,-,-,-,0,1500,0,-,-,-,-,NaN,�@��,NaN
2021/05/03,TXO,202105W1,15800.0,�R�v,-,-,-,-,0,-,-,-,-,-,-,NaN,�L��,NaN
2021/05/03,TXO,202105W1,15800.0,���v,0.8,1.3,0.3,1.1,560,1.1,1963,-,1.2,2.4,0.3,NaN,�@��,NaN
2021/05/03,TXO,202105W1,15800.0,���v,0.7,1.6,0.5,1.3,641,-,-,0.5,1.2,2.4,0.5,NaN,�L��,NaN
2021/05/03,TXO,202105W1,15900.0,�R�v,-,-,-,-,0,1400,0,-,-,-,-,NaN,�@��,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021/05/31,TXO,202112,21000.0,���v,-,-,-,-,0,-,-,-,-,-,-,NaN,�L��,NaN
2021/05/31,TXO,202112,21200.0,�R�v,29.5,29.5,29.5,29.5,1,29.5,24,29,55,45,29.5,NaN,�@��,NaN
2021/05/31,TXO,202112,21200.0,�R�v,33,33.5,33,33.5,4,-,-,17.5,60,45,30,NaN,�L��,NaN
2021/05/31,TXO,202112,21200.0,���v,-,-,-,-,0,4860,0,-,-,-,-,NaN,�@��,NaN
2021/05/31,TXO,202112,21200.0,���v,-,-,-,-,0,-,-,-,-,-,-,NaN,�L��,NaN

In [35]:
# replace mandarin to english
df = df.replace(to_replace ="�R�v", value ="call")\
        .replace(to_replace ="���v", value ="put")\
        .replace(to_replace ="�@��", value ="day")\
        .replace(to_replace ="�L��", value ="night")

df

,symbol,exp,strik,put_call,o,h,l,c,v,settlement,_,_,_,_,_,_,day_night,_
2021/05/03,TXO,202105W1,15800.0,call,-,-,-,-,0,1500,0,-,-,-,-,NaN,day,NaN
2021/05/03,TXO,202105W1,15800.0,put,0.8,1.3,0.3,1.1,560,1.1,1963,-,1.2,2.4,0.3,NaN,day,NaN
2021/05/03,TXO,202105W1,15900.0,call,-,-,-,-,0,1400,0,-,-,-,-,NaN,day,NaN
2021/05/03,TXO,202105W1,15900.0,put,0.5,1.3,0.3,1.3,308,1.3,679,0.2,1.4,2.6,0.3,NaN,day,NaN
2021/05/03,TXO,202105W1,16000.0,call,-,-,-,-,0,1300,0,-,-,-,-,NaN,day,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021/05/31,TXO,202112,20800.0,put,-,-,-,-,0,4470,0,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21000.0,call,-,-,-,-,0,33.5,26,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21000.0,put,-,-,-,-,0,4670,0,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21200.0,call,29.5,29.5,29.5,29.5,1,29.5,24,29,55,45,29.5,NaN,day,NaN
2021/05/31,TXO,202112,21200.0,put,-,-,-,-,0,4860,0,-,-,-,-,NaN,day,NaN

In [46]:
df = df[~df['day_night'].isin(['night'])] # drop the row is night
df = df[~df['settlement'].isin(['0'])] # drop the row that settlement is zero (usually strik price too far)
df['settlement'] = df['settlement'].astype(float)

close = df['2021/05/03':'2021/05/31']['settlement']
df

,symbol,exp,strik,put_call,o,h,l,c,v,settlement,_,_,_,_,_,_,day_night,_
2021/05/03,TXO,202105W1,15800.0,call,-,-,-,-,0,1500.0,0,-,-,-,-,NaN,day,NaN
2021/05/03,TXO,202105W1,15800.0,put,0.8,1.3,0.3,1.1,560,1.1,1963,-,1.2,2.4,0.3,NaN,day,NaN
2021/05/03,TXO,202105W1,15900.0,call,-,-,-,-,0,1400.0,0,-,-,-,-,NaN,day,NaN
2021/05/03,TXO,202105W1,15900.0,put,0.5,1.3,0.3,1.3,308,1.3,679,0.2,1.4,2.6,0.3,NaN,day,NaN
2021/05/03,TXO,202105W1,16000.0,call,-,-,-,-,0,1300.0,0,-,-,-,-,NaN,day,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021/05/31,TXO,202112,20800.0,put,-,-,-,-,0,4470.0,0,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21000.0,call,-,-,-,-,0,33.5,26,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21000.0,put,-,-,-,-,0,4670.0,0,-,-,-,-,NaN,day,NaN
2021/05/31,TXO,202112,21200.0,call,29.5,29.5,29.5,29.5,1,29.5,24,29,55,45,29.5,NaN,day,NaN
2021/05/31,TXO,202112,21200.0,put,-,-,-,-,0,4860.0,0,-,-,-,-,NaN,day,NaN

In [49]:
# use the daily data of Google(NASDAQ: GOOG) from 01/2016 to 08/2016 
#close = df['2021/05/03':'2021/05/31']['c']

r = diff(log(close))
r_mean = mean(r)
diff_square = [(r[i]-r_mean)**2 for i in range(0,len(r))]
std = sqrt(sum(diff_square)*(1.0/(len(r)-1)))
vol = std*sqrt(252)
vol

68.43535137930583